<app-navbar></app-navbar>
<div class="main">
    <div class="heading" >PDFs have been merged!</div>
    
    <div style="text-align: center;">
      <button mat-mini-fab style="background-color: rgb(65, 48, 48);"
      matTooltip="Back to the merged PDF"
      >          
        <mat-icon class="col">arrow_back</mat-icon>
      </button>
      <a href="/assets/PDF/sample.pdf" download>
        <button mat-flat-button class="btn" >
          
          <mat-icon style="font-size: 33px;margin-right: 10px; margin-bottom: 8px;" >download</mat-icon>
          
          <span style="font-family: 'Times New Roman', Times, serif;">Download Merged PDF</span>
        </button>
      </a>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More Options" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>compress</mat-icon>
            <span>Compress PDF</span>
          </button>
        
          <a routerLink="/split" style="text-decoration: none;"> 
            <button mat-menu-item >
              <mat-icon>splitscreen</mat-icon>
              <span>Split PDF</span>
            </button>
          </a>
          
          <button mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>Organise PDF</span>
          </button>
        </mat-menu>
      
    </div>
    </div>
    
    <footer>
      <div class="center">
          Copyright &copy; PDFLOVERS All rights reserved!
      </div>
    </footer>
    