<mat-toolbar color="primary" class="navbar">
  <div>
  <span>A Material</span>
  <span>Components</span>
  <span>CDK</span>
  <span>Guides</span>
  </div>
  <div>
    <span>11.2.8</span>
    <span>Theme</span>
    <span>Github</span>
  </div>
</mat-toolbar>
<mat-divider class="div_tool"></mat-divider>
<img src="assets/components.png" class="adjust4">
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav opened disableClose>
    <mat-nav-list>
      <mat-list-item>Autocomplete</mat-list-item>
      <mat-list-item>Badge</mat-list-item>
      <mat-list-item>Bottom Sheet</mat-list-item>
      <mat-list-item>Button</mat-list-item>
      <mat-list-item>Button toggle</mat-list-item>
      <mat-list-item>Card</mat-list-item>
      <mat-list-item>Checkbox</mat-list-item>
      <mat-list-item>Chips</mat-list-item>
      <mat-list-item>Datepicker</mat-list-item>
      <mat-list-item>Dialog</mat-list-item>
      <mat-list-item>Divider</mat-list-item>
      <mat-list-item>Expansion portal</mat-list-item>
      <mat-list-item>Form field</mat-list-item>
      <mat-list-item>Grid list</mat-list-item>
      <mat-list-item>Icon</mat-list-item>
      <mat-list-item>Input</mat-list-item>
      <mat-list-item>List</mat-list-item>
      <mat-list-item>Menu</mat-list-item>
      <mat-list-item>Paginator</mat-list-item>
      <mat-list-item>Progress bar</mat-list-item>
      <mat-list-item>Progress spinner</mat-list-item>
      <mat-list-item>Radio button</mat-list-item>
      <mat-list-item>Ripples</mat-list-item>
      <mat-list-item>Select</mat-list-item>
      <mat-list-item>Sidenav</mat-list-item>
      <mat-list-item>Slide toggle</mat-list-item>
      <mat-list-item>Slider</mat-list-item>
      <mat-list-item>Snackbar</mat-list-item>
      <mat-list-item>Sort header</mat-list-item>
      <mat-list-item>Stepper</mat-list-item>
      <mat-list-item>Table</mat-list-item>
      <mat-list-item>Toolbar</mat-list-item>
      <mat-list-item>Tooltip</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="margin_space" align="center">
      Angular Material offers a wide variety of UI components based on the <a href="https://material.io/components">Material Design specification</a>
    </div>
    <div class="cardscol">
        <div fxLayout="row wrap" fxLayoutGap="50px grid">
        <div fxFlex="33%">
        <mat-card>
        <img mat-card-image src="assets/card1.png">
        <mat-card-title>Autocomplete</mat-card-title>
        <mat-card-content>
         <p>Suggests relevant options as the user types.</p>
        </mat-card-content>
        </mat-card>
        </div>
        <div fxFlex="33%">
        <mat-card>
          <img mat-card-image src="assets/card2.png">
          <mat-card-title>Badge</mat-card-title>
          <mat-card-content>
           <p>A small value indicator that can be overlaid on another object.</p>
          </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33%">
          <mat-card>
            <img mat-card-image src="assets/card3.png">
            <mat-card-title>Bottom Sheet</mat-card-title>
            <mat-card-content>
             <p>A large interactive panel primarily for mobile devices.</p>
            </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33%">
            <mat-card>
              <img mat-card-image src="assets/card4.png">
              <mat-card-title>Button</mat-card-title>
              <mat-card-content>
               <p>An interactive button with a range of presentation options.</p>
              </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="33%">
              <mat-card>
                <img mat-card-image src="assets/card5.png">
                <mat-card-title>Button toggle</mat-card-title>
                <mat-card-content>
                 <p>A groupable on/off toggle for enabling and disabling options.</p>
                </mat-card-content>
                </mat-card>
              </div>
              <div fxFlex="33%">
                <mat-card>
                  <img mat-card-image src="assets/card6.png">
                  <mat-card-title>Card</mat-card-title>
                  <mat-card-content>
                   <p>A styled container for pieces of itemized content.</p>
                  </mat-card-content>
                  </mat-card>
                </div>
                <div fxFlex="33%">
                  <mat-card>
                    <img mat-card-image src="assets/card7.png">
                    <mat-card-title>Checkbox</mat-card-title>
                    <mat-card-content>
                     <p>Captures boolean input with an optional indeterminate mode.</p>
                    </mat-card-content>
                    </mat-card>
                  </div>
                  <div fxFlex="33%">
                    <mat-card>
                      <img mat-card-image src="assets/card8.png">
                      <mat-card-title>Chips</mat-card-title>
                      <mat-card-content>
                       <p>Presents a list of items as a set of small, tactile entities.</p>
                      </mat-card-content>
                      </mat-card>
                    </div>
                    <div fxFlex="33%">
                      <mat-card>
                        <img mat-card-image src="assets/card9.png">
                        <mat-card-title>Datepicker</mat-card-title>
                        <mat-card-content>
                         <p>Captures dates, agnostic about their internal representation.</p>
                        </mat-card-content>
                        </mat-card>
                      </div>
                      <div fxFlex="33%">
                        <mat-card>
                          <img mat-card-image src="assets/card10.png">
                          <mat-card-title>Dialog</mat-card-title>
                          <mat-card-content>
                           <p>A configurable modal that displays dynamic content.</p>
                          </mat-card-content>
                          </mat-card>
                        </div>
                        <div fxFlex="33%">
                          <mat-card>
                            <img mat-card-image src="assets/card11.png">
                            <mat-card-title>Divider</mat-card-title>
                            <mat-card-content class="adjust">
                             <p>A vertical or horizontal visual divider.</p>
                            </mat-card-content>
                            </mat-card>
                          </div>
                          <div fxFlex="33%">
                            <mat-card>
                              <img mat-card-image src="assets/card12.png">
                              <mat-card-title>Expansion Panel</mat-card-title>
                              <mat-card-content>
                               <p>A cotainer which can be expanded to reveal more content.</p>
                              </mat-card-content>
                              </mat-card>
                            </div>
                            <div fxFlex="33%">
                              <mat-card>
                                <img mat-card-image src="assets/card13.png">
                                <mat-card-title>Form field</mat-card-title>
                                <mat-card-content>
                                 <p>Wraps input fields so they are displayed consistently.</p>
                                </mat-card-content>
                                </mat-card>
                              </div>
                              <div fxFlex="33%">
                                <mat-card>
                                  <img mat-card-image src="assets/card14.png">
                                  <mat-card-title>Grid list</mat-card-title>
                                  <mat-card-content class="adjust2">
                                   <p>A flexible structure for presenting content items in a grid.</p>
                                  </mat-card-content>
                                  </mat-card>
                                </div>
                                <div fxFlex="33%">
                                  <mat-card>
                                    <img mat-card-image src="assets/card15.png">
                                    <mat-card-title>Icon</mat-card-title>
                                    <mat-card-content class="adjust">
                                     <p>Renders a specific icon.</p>
                                    </mat-card-content>
                                    </mat-card>
                                  </div>
                                  <div fxFlex="33%">
                                    <mat-card>
                                      <img mat-card-image src="assets/card16.png">
                                      <mat-card-title>Input</mat-card-title>
                                      <mat-card-content>
                                       <p>Enables native input to be used within form fields.</p>
                                      </mat-card-content>
                                      </mat-card>
                                    </div>
                                    <div fxFlex="33%">
                                      <mat-card>
                                        <img mat-card-image src="assets/card17.png">
                                        <mat-card-title>List</mat-card-title>
                                        <mat-card-content class="adjust">
                                         <p>Presents conventional items of list.</p>
                                        </mat-card-content>
                                        </mat-card>
                                      </div>
                                      <div fxFlex="33%">
                                        <mat-card>
                                          <img mat-card-image src="assets/card18.png">
                                          <mat-card-title>Menu</mat-card-title>
                                          <mat-card-content class="adjust">
                                           <p>A floating panel of nestable options.</p>
                                          </mat-card-content>
                                          </mat-card>
                                        </div>
                                        <div fxFlex="33%">
                                          <mat-card>
                                            <img mat-card-image src="assets/card19.png">
                                            <mat-card-title>Paginator</mat-card-title>
                                            <mat-card-content>
                                             <p>Controls for displaying paged data.</p>
                                            </mat-card-content>
                                            </mat-card>
                                          </div>
                                          <div fxFlex="33%">
                                            <mat-card>
                                              <img mat-card-image src="assets/card20.png">
                                              <mat-card-title>Progress bar</mat-card-title>
                                              <mat-card-content>
                                               <p>A linear progress indicator.</p>
                                              </mat-card-content>
                                              </mat-card>
                                            </div>
                                            <div fxFlex="33%">
                                              <mat-card>
                                                <img mat-card-image src="assets/card21.png">
                                                <mat-card-title>Progress spinner</mat-card-title>
                                                <mat-card-content>
                                                 <p>A circular progress indicator.</p>
                                                </mat-card-content>
                                                </mat-card>
                                              </div>
                                              <div fxFlex="33%">
                                                <mat-card>
                                                  <img mat-card-image src="assets/card22.png">
                                                  <mat-card-title>Radio button</mat-card-title>
                                                  <mat-card-content>
                                                   <p>Allows the user to select one option from a group.</p>
                                                  </mat-card-content>
                                                  </mat-card>
                                                </div>
                                                <div fxFlex="33%">
                                                  <mat-card>
                                                    <img mat-card-image src="assets/card23.png">
                                                    <mat-card-title>Ripples</mat-card-title>
                                                    <mat-card-content class="adjust2">
                                                     <p>Directive for adding Material Design ripple effects.</p>
                                                    </mat-card-content>
                                                    </mat-card>
                                                  </div>
                                                  <div fxFlex="33%">
                                                    <mat-card>
                                                      <img mat-card-image src="assets/card24.png">
                                                      <mat-card-title>Select</mat-card-title>
                                                      <mat-card-content>
                                                       <p>Allows the user to select one or more options using a dropdown.</p>
                                                      </mat-card-content>
                                                      </mat-card>
                                                    </div>
                                                    <div fxFlex="33%">
                                                      <mat-card>
                                                        <img mat-card-image src="assets/card25.png">
                                                        <mat-card-title>Sidenav</mat-card-title>
                                                        <mat-card-content>
                                                         <p>A container for content that is fixed on the screen.</p>
                                                        </mat-card-content>
                                                        </mat-card>
                                                      </div>
                                                      <div fxFlex="33%">
                                                        <mat-card>
                                                          <img mat-card-image src="assets/card26.png">
                                                          <mat-card-title>Slide toggle</mat-card-title>
                                                          <mat-card-content>
                                                           <p>Captures boolean values as a clickable and dragable search.</p>
                                                          </mat-card-content>
                                                          </mat-card>
                                                        </div>
                                                        <div fxFlex="33%">
                                                          <mat-card>
                                                            <img mat-card-image src="assets/card27.png">
                                                            <mat-card-title>Slider</mat-card-title>
                                                            <mat-card-content>
                                                             <p>Allows the user to input a value by dragging along a slider.</p>
                                                            </mat-card-content>
                                                            </mat-card>
                                                          </div>
                                                          <div fxFlex="33%">
                                                            <mat-card>
                                                              <img mat-card-image src="assets/card28.png">
                                                              <mat-card-title>Snackbar</mat-card-title>
                                                              <mat-card-content>
                                                               <p>Displays short actionable messages as an uninvasive alert.</p>
                                                              </mat-card-content>
                                                              </mat-card>
                                                            </div>
                                                            <div fxFlex="33%">
                                                              <mat-card>
                                                                <img mat-card-image src="assets/card29.png">
                                                                <mat-card-title>Sort header</mat-card-title>
                                                                <mat-card-content>
                                                                 <p>Allows the user to configure how table data is sorted.</p>
                                                                </mat-card-content>
                                                                </mat-card>
                                                              </div>
                                                              <div fxFlex="33%">
                                                                <mat-card>
                                                                  <img mat-card-image src="assets/card30.png">
                                                                  <mat-card-title>Stepper</mat-card-title>
                                                                  <mat-card-content>
                                                                   <p>Presents contents as steps through which to progress.</p>
                                                                  </mat-card-content>
                                                                  </mat-card>
                                                                </div>
                                                                <div fxFlex="33%">
                                                                  <mat-card>
                                                                    <img mat-card-image src="assets/card31.png">
                                                                    <mat-card-title>Table</mat-card-title>
                                                                    <mat-card-content>
                                                                     <p>A configurable component for displaying tabular data.</p>
                                                                    </mat-card-content>
                                                                    </mat-card>
                                                                  </div>
                                                                  <div fxFlex="33%">
                                                                    <mat-card>
                                                                      <img mat-card-image src="assets/card32.png">
                                                                      <mat-card-title>Tabs</mat-card-title>
                                                                      <mat-card-content class="adjust3">
                                                                       <p>Only presents one view at a time from a provided set of views.</p>
                                                                      </mat-card-content>
                                                                      </mat-card>
                                                                    </div>
                                                                    <div fxFlex="33%">
                                                                      <mat-card>
                                                                        <img mat-card-image src="assets/card33.png">
                                                                        <mat-card-title>Toolbar</mat-card-title>
                                                                        <mat-card-content>
                                                                         <p>A container for top level titles and controls.</p>
                                                                        </mat-card-content>
                                                                        </mat-card>
                                                                      </div>
                                                              
                                        
                                                                      <div fxFlex="33%" class="manual">
                                                                        <mat-card>
                                                                          <img mat-card-image src="assets/card34.png">
                                                                          <mat-card-title>Tooltip</mat-card-title>
                                                                          <mat-card-content>
                                                                           <p>Displays floating content when a text is hovered.</p>
                                                                          </mat-card-content>
                                                                          </mat-card>
                                                                        </div>
                                                                        <div fxFlex="33%">
                                                                          <mat-card>
                                                                            <img mat-card-image src="assets/card35.png">
                                                                            <mat-card-title>Tree</mat-card-title>
                                                                            <mat-card-content>
                                                                             <p>Presents hierarchial content as an expandable tree.</p>
                                                                            </mat-card-content>
                                                                            </mat-card>
                                                                          </div>
                                                                        
                                                                    </div>
                                                                  </div>
                                                              
                                                              </mat-sidenav-content>
                                                            </mat-sidenav-container>
                                                            <img src="assets/logo.png" class="adjust4">
                 
                                                            

                                                                      
                                                                    
                                                                  
                                                                
                                                              
                                                            
                                                          
                                                    


      
